
.block-zoomcomentarios h2.title, .node-type-blog.section-node #content .block-zoomcomentarios h2.title{
	display:none;
}

#zoomcomentarios-tpl{
}
#zoomcomentarios-tpl .titulo{
	color: #E41717;
    font-weight: bold;
    text-transform: uppercase;
	font-size:14px;
	margin-bottom:6px;
}
#zoomcomentarios-tpl .intro{
	font-size:14px;
	margin-bottom:10px;
}
#zoomcomentarios-tpl .logins{
	margin-bottom:10px;
}
#zoomcomentarios-tpl .logins a.facebook{
	display:block;
	width:195px;
	height:29px;
	float:left;
	background:url('./images/facebook-conectar.png') no-repeat;
}

#zoomcomentarios-tpl .logins .fb-login-button{
	display:block;
	width:195px;
	height:29px;
	float:left;
	background:url('./images/facebook-conectar.png') no-repeat;
}

#zoomcomentarios-tpl .logins a .fb_button_text{

	background:none;
	font-size: 0px;
	border: 0px;
}

#zoomcomentarios-tpl .logins a.twitter{
	display:block;
	width:175px;
	height:29px;
	float:left;
	background:url('./images/twitter-conectar.png') no-repeat;
	margin-left:10px;
}


#zoomcomentarios-tpl .actualizar-mensajes{
	margin-bottom:10px;
}
#zoomcomentarios-tpl .actualizar-mensajes a{
	background:url('./images/ico-actualizar.png') no-repeat;
	padding-left:35px;
	font-size:14px;
	line-height:26px;
	height:26px;
	display:block;
}
#zoomcomentarios-tpl .listado-mensajes{
}

#zoomcomentarios-tpl .listado-mensajes .comentario{
	font-size:14px;
	margin-bottom:10px;
}
#zoomcomentarios-tpl .listado-mensajes .comentario img{
	width:50px;
	/*height:50px;*/
	display:block;
	float:left;
	margin-right:10px;
}
#zoomcomentarios-tpl .listado-mensajes .comentario .cinner{
	float:left;
	width: 85%;
}
#zoomcomentarios-tpl .listado-mensajes .comentario .cinner .cfecha{
	float:right;
	color:#afaaa3;
}


#zoomcomentarios-tpl .listado-mensajes .comentario .cinner .ccomentario{
	color:#60605b;
}

#zoomcomentarios-tpl .comentar img{
	float: left;
	width: 50px;
	padding-right: 9px;
}

#zoomcomentarios-tpl .comentar a{
	font-weight: bold;
	font-size: 140%;
}

#zoomcomentarios-tpl .comentar {
	background-color: #FBFBFB;
    border: 1px solid #C1C1C1;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    margin-bottom: 10px;
}

#zoomcomentarios-tpl .comentar .texto {
	border: 0px;
	background-image: url('./images/comment_input.png');
	width: 555px;
	height: 45px;
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
	resize: none;
	margin-top: 10px;
}

#zoomcomentarios-tpl .guardar {
	float: right;
	background: url('./images/btn_comentar.png') no-repeat scroll 0 0;
	clear: both;
	width: 99px;
	height: 29px;
	border: 0px;
	font-size: 0px;
}

#zoomcomentarios-tpl .guardar:hover {
	background: url('./images/btn_comentar_hover.png') no-repeat scroll 0 0;
}

/* fin Modulo Zoomcomentarios */


/* Paginacion */

.item-list .pager {
	float:right;
	padding:0px;

}
.item-list .pager li {
	width:40px;
	height:29px;
	line-height:29px;
	text-align:center;
	display:block;
	padding:0px;
	float:left;
	margin-left:5px;
	color:#fff;
	font-size:14px;
}
.item-list .pager li a{
	display:block;
	padding:0px;
	color:#fff;
	text-transform:uppercase;
}

.item-list .pager li.pager-current {
	background: url("./images/pager/pager_current.png") no-repeat;
	margin-right:70px;
	margin-top:10px;
}
.item-list .pager li.pager-item a{
	background: url("./images/pager/pager_item.png") no-repeat;
}
.item-list .pager li.pager-item a:hover{
	background: url("./images/pager/pager_current.png") no-repeat;
}

.item-list .pager li.pager-last, .item-list .pager li.pager-first {
	width:73px;
}
.item-list .pager li.pager-last a, .item-list .pager li.pager-first a{
	background: url("./images/pager/pager_last.png") no-repeat;
}
.item-list .pager li.pager-last a:hover, .item-list .pager li.pager-first a:hover{
	background: url("./images/pager/pager_last_on.png") no-repeat;
}

.item-list .pager li.pager-next, .item-list .pager li.pager-previous {
	width:93px;
}
.item-list .pager li.pager-next a, .item-list .pager li.pager-previous a{
	background: url("./images/pager/pager_next.png") no-repeat;
}
.item-list .pager li.pager-next a:hover, .item-list .pager li.pager-previous a:hover{
	background: url("./images/pager/pager_next_on.png") no-repeat;
}




.comentario-responder {
	float:right;
	margin:4px;
}
.comentario-responderform {
	width:80%;
	margin:0 auto;

}
.comentario-responderform textarea {
	display:block;
	width:455px;
	margin-left:15px;
	background-color: #F5F3F3;
    border: 2px solid #E1E1E1;
    margin-top:-1px;
	font-size: 12px;
	font-family:Arial;

}
.comentario-responderform input[type=button] {
	display:block;
	background-color:#505050;
	border-radius:10px;

}
.comentario-responderform img {
	position:absolute;
}
.comentario-resupuesta-fe {
	width:86%;
	margin:0 0 0 auto;
}
.autor-respuesta {
	font-weight:normal!important;
	font-size: 11px!important;
	color: #000!important;
}
.autor-ver-comentario {
	font-weight:normal!important;
	font-size: 11px!important;
}

div.comentario-resupuesta-fe {
	width:86%;
	margin:0 0 0 auto;
}

.comentario-responder input[type=button] {
	display:block;
	background-color:#505050;
	border-radius:15px;
	color:#fff;
	height:30px;
	width:100px;
	cursor:pointer;
	font-weight:bold;
	padding-bottom:3px;
	

}

.bloque-comentario input[type=button]
{
	display:block;
	background-color:#505050;
	border-radius:15px;
	color:#fff;
	height:25px;
	width:80px;
	cursor:pointer;
	font-weight:bold;
	padding-bottom: 3px;
	margin-left: 395px;
	margin-top:10px;
	margin-bottom:6px;	
}

.bloque-comentario
{
	width:100%;
	margin-left:44px;
}

/* fin Paginacion */