BODY {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 19px; color: Black;
	background-color : White;
	margin-top : 0px; margin-left : 0px; margin-right : 0px; margin-bottom : 0px;
	scrollbar-base-color : #CED5E8; scrollbar-darkshadow-color : #2C3561;
	scrollbar-face-color : #BAC1D4; scrollbar-highlight-color : #2C3561;
	scrollbar-shadow-color : #2C3561; scrollbar-track-color : White;
	scrollbar-arrow-color : #2C3561; scrollbar-3dlight-color : #2C3561;
}

text {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px; color: Black;
}

TD {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 13px; color: #000065;
	font-weight : normail;
}

.TITLE {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 16px; color: #0000A0;
}

.OrangeTitle {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 16px; color: #FF6600;
}

.orangeSubtitle {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 14px; color: #FF6600;
}

.SubTitle {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size : 12px; color: #000065;
}
.STitle {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : x-small;
	font-weight: bold;
}
.steel {
	background-color : #BAC1D4;
}

A:link {
	FONT-WEIGHT: normal;
	COLOR: #3333CC;
	FONT-STYLE: normal;
	TEXT-DECORATION: underline;
}
A:visited {
	FONT-WEIGHT: normal;
	COLOR: #660099;
	FONT-STYLE: normal;
	TEXT-DECORATION: underline;
}
A:active {
	FONT-WEIGHT: normal;
	COLOR: #FF6600;
	FONT-STYLE: normal;
	TEXT-DECORATION: underline;
}
A:hover {
	FONT-WEIGHT: normal;
	COLOR: #FF6600;
	FONT-STYLE: normal;
	TEXT-DECORATION: none;
}
.menutext {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color: #ffffff;
}
.moreinfo {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color: #ced5e8;
}
.topmenu {
	background-color : transparent;
}
.small {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	FONT-STYLE: normal;
	font-size : 8px; color: #3E5A96;
}
.copyright {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	FONT-STYLE: normal;
	font-size : 12px;
	color:#000065;
	text-decoration: none;;
}