/*ESTILOS PC WORLD*/
/* rojo PC World Corporativo : #8f0d10 */

/* Para que el fondo no sea transparente y se cuele el color del SKIN*/
#wrapper {
    background-color: #FFFFFF;
}

#banner_header {
    margin: 5px 0 0;
    text-align: center;
	/*height: 92px;*/
}

#logo {
    float: left;
    height: 65px;
    margin: 5px 0 5px 10px;
}

#menus {
    float: left;
    font-family: Arial;
    font-size: 12px;
    margin: 0 0 0 10px;
    padding-top: 0;
    width: 726px;
}

/* Estilos para el menu de contenido */
#menu_contenido {
    border-top-width: 0px;
    margin-left: 10px;
    margin-top: 2px;
}

#menu_contenido li {
    background: none no-repeat scroll 0 20px transparent;
    float: left;
    height: 25px;
    padding: 5px 10px 0;
    text-align: center;
}

#menu_contenido li:hover {
    background: none no-repeat scroll 0 20px transparent;
    float: left;
    height: 25px;
    padding: 5px 10px 0;
    text-align: center;
}

#menu_contenido li a {
    color: #000000;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}

#menu_contenido li:hover a {
	color: #8f0d10;
}
/* FIN Estilos para el menu de contenido */

/* Estilos para el menu ppal */
 #menu_ppal
 {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	width:1010px;
	float:left;
	margin-left: 5px;
    margin-right: 5px;
}

#menu_ppal li img {
	float:left;
}

#menu_ppal li a 
{
	color:#fff;
	text-decoration:none;
}
#menu_ppal li a:hover 
{
	text-decoration:none;
}

#menu_ppal ul li:hover, #menu_ppal ul li.current 
{
    background: #760000 none repeat scroll 0 0;
    color: #fff;

}

#menu_ppal ul li.current a {
    text-decoration: none;
}

#menu_ppal ul li {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 16px;
    font-weight: bold;
    height: 20px;
    line-height: 22px;
    border-radius: 10px 10px 0 0;	
	padding: 10px 15px 2px 15px;
	margin: 3px 2px 0 2px; 
    text-decoration: none;
}

#menu_ppal ul li.destacado a
{
	background: url("../img/destacado_menu_ppal.png") no-repeat scroll transparent;
	background-position:right 4px;
	padding-right:11px;
}
/* FIN Estilos para el menu ppal */

#logo_menu_superior
{
	float: left;
    margin-top: 5px;
    padding-bottom: 0px;
    width: 736px;
}

/* Estilos para el menu arriba1 */
#menu_arriba1 { 
    font-size: 12px; 
	font-family: Arial; 
	width: 517px; 
	height: 40px;
	padding-top: 20px;
	margin-bottom: 0;
	float: left;
	text-align: center;
}

#menu_arriba1 ul li.destacado a {
    background: url("../img/destacado_menu_1.png") no-repeat scroll right top transparent;
    padding-right:7px;
   
}
/* FIN Estilos para el menu arriba1 */

/* Estilos para el menu arriba2 */
#menu_arriba2 {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
	margin-top: 0px;
    padding-top: 0px;
    width: 517px;
	height: 0px;
}

#menu_arriba2 ul {
    float: left;
    width: 517px;
}

#menu_arriba2 ul li.destacado a
{
	background: url("../img/destacado_menu_2.png") no-repeat scroll right top transparent;
	padding-right:10px;
}

#menu_arriba2 ul li a {
    color: #000000;
    display: block;
    text-decoration: none;
}

#menu_arriba2 ul li a:hover,  #menu_arriba1 ul li a:hover
{
	color:#8f0d10;
}

#menu_arriba2 ul li.current a:link, #menu_arriba1 ul li.current a:link 
{
    color: #8f0d10;
    text-decoration: underline;
}
/* FIN Estilos para el menu arriba2 */
.header-top {
	width: 100%;
	float: left;
	background: #8f0d10 none repeat scroll 0 0;
}

.logos_popup_login {
    float: left;
	margin-top: 2px;
    margin-left: 10px;
}

.popup_login {
    background-color: #FFF7C2;
    color: #FFFFFF;
    height: 18px;
    margin: 0px 10px 0px 10px;
    padding: 5px 10px 10px 5px;
}

.webuser-fastlogin
{
	font-family: Gautami;
    font-size: 16px;
    width: 115px;
    height:25px;
}

#lista-noticias .destacado_seccion{
	border-color: #8f0d10 
}

#lista-noticias .contenedor_noticia_2columnas_contenido {
    border-bottom: 4px solid #8f0d10;
}

#lista-noticias .ver_mas a {
    color:#000000
}

#lista-noticias .ver_mas a:hover {
    color:#8f0d10
}

.webuser-fastlogin a:hover
{
	color:#8f0d10;
}

.titulo_actividad, .titulo_actividad a
{
	color:#8f0d10 !important;
}
 
.titulo_editor_picks 
{
	color:#8f0d10 !important;
}

.titulo_noticia_2columnas_solotexto 
{
	color:#8f0d10 !important;
}



.learn_more a,  .learn_more a:hover
{
	color:#8f0d10 !important;
}

#titulo_featured_Sponsors
{
	color:#e50005 !important;
}

.titulo_whitepapet
{
	color:#8f0d10 !important;
}

.titulo_noticia_sponsor 
{
	color:#8f0d10 !important;
}

#capa_titulo_white_paper 
{
	background-image: url("../img/bg-titulo-whitepaper-pcworld.jpg");
}

.capa-titulo_noticia_2columnas_solo_texto 
{
    background-image: url("../img/bg-titulo-doscolumnas-solotexto-pcworld.png");
}

#capa_titulo_top_stories
{
	 background-image: url("../img/bg-top-stories-pcworld.png");
}

h4 
{
	color:#8f0d10 !important;
}

h1 a, h2 a,  h3 a,  h4 a {
    color: #000000;
    text-decoration: none;
}

 h1 a:hover,  h2 a:hover,  h3 a:hover,  h4 a:hover {
   color:#8f0d10;
}

.lista_editor_picks li a {
    color: #8f0d10;
    text-decoration: none;
}

.lista_editor_picks li a:hover 
{
	color:#8f0d10;
}

.network_world #titulares_top_stories li a, .network_world #titulares_top_stories li a:hover
{
	color:#8f0d10;
	text-decoration:none;
}

.titulo_noticia_2columnas_solotexto a {
    color: #8f0d10;
    text-decoration: none;
}

.titulo_noticia_2columnas_solotexto a:hover 
{
	color:#8f0d10;
}

#listas_white_paper li a {
    color: #8f0d10;
    line-height: 15px;
    margin-bottom: 13px;
    text-decoration: none;
}

#listas_white_paper li a:hover 
{
	color:#e50005;
}

#titulares_top_stories li.more_careers a,  #titulares_top_stories li.more_careers a:hover
{
	color:#8f0d10;
}

#menu_lateral_top_stories li a:hover,  #menu_lateral_top_stories ul li.current
{
	color:#8f0d10;
}

.titulo_noticia_sponsor a 
{
	color: #8f0d10;
    text-decoration: none;
}

.titulo_noticia_sponsor a:hover
{
	color:#8f0d10;
}

.autor_noticia 
{
 /* background-image: url("../img/comentarios_twitter_pcworld.jpg"); */
}

#logo_footer
{
	float: left;
    height: 159px;  
    width: 215px;
    background: url("../img/logo-pcworld-footer.png") no-repeat center 5px;
	margin-top: 20px;
}

.titulo_popup_login a:hover
{
	color:#8f0d10;
}

/*ESTILOS NOTICIA*/

 #noticia-page .breadcrumb 
{
	color: #8f0d10;
	font-family:Gautami;
	font-size:15px;
	height:20px;
	padding-bottom:10px;
}

 #noticia-page .meta .seccion 
{
    color: #8f0d10;
    
}

 #noticia .autor 
{
	/*background-image: url("../img/comentarios_twitter_pcworld.jpg");*/
	background-repeat: no-repeat;
	background-position:95px -4px;
}

.pc_world .contenido_relacionado ul li a:hover
{ 
 	color: #8f0d10 !important; 
 	font-weight: bold;
}

.comentarios_inf_noticia 
{
	
	padding:0px 0px 10px 5px;
	
}

.comentarios_inf_noticia a
{
	color:#8f0d10;
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	text-decoration:none;
}

.comentarios_inf_noticia a:hover 
{
	text-decoration:underline;
}

 .comentarios_inf_noticia .cuantos_comentarios
{
	float:left;
}
 .comentarios_inf_noticia .print_not
{
	background-image:url("../img/icon-imprimir.jpg");
	background-repeat: no-repeat;
	background-position:top left;
	margin-left:10px;
	padding-left:22px;
	float:left;
}

 .comentarios_inf_noticia .ir_arriba
{
	background-image:url("../img/icon-skip-top.jpg");
	background-repeat: no-repeat;
	background-position:center left;
	margin-left:10px;
	padding-left:10px;
	float:right;
}

 .comentarios_logo 
{
	color:#8f0d10;
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	text-decoration:none;
	float:left;
	border-bottom:2px solid #cccccc;
	padding:3px 0px 6px 5px;
	width:665px;
	
}

 .comentarios_logo a
{
	color:#8f0d10;
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	text-decoration:none;
}

 .comentarios_logo a:hover
{
	text-decoration:underline;
}

 .comentarios_logo .comments_sup
{
	padding-right:30px;
	background-image:url("../img/logo_pcworld_comments.jpg");
	background-position:top right;
	background-repeat:no-repeat;
	height:33px;
	float:left;
}

 .comentarios_logo .privacy
{
	float:right;
	margin-top:10px;
}

 .comment
{
	font-family:Gautami;
	font-size:20px;
	font-weight:bold;
	color:#8f0d10;
	float:left;
	width:665px;
	padding-left:5px;
	
}

 .comment .login
{
	float:right;
	margin-top:10px;

	
}

 .comment .rep_comment
{
	margin-top:10px;
}

 .comment .rep_comment img
{
	float:left;
	
}

 .comment .rep_comment .caja_comentarios
{
	float:left;
	margin-bottom:15px;

	
}

 .comment .rep_comment .caja_comentar
{
	width:600px;
	float:left;
	margin:0 0 0 10px;
	background-color: #f5f3f3;
	border:2px solid #e1e1e1;
	height:95px;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
	color:#8f0d10;
}

 .comment .comentarios_mostrados
{
	font-size:17px;
	margin-top:20px;
}

 .comment .nombre_comentarista
{
	color:#d4090f;
	font-family:Arial;
	font-size:14px;
	margin:0 0 5px 12px;
	
	
}

 .comment .bordegris
{
	border-bottom:2px solid #e1e1e1;
	
}

 .comment .caja_comentarios_mostrados
{
	width:595px;
	border:1px solid #e1e1e1;
	margin:0 0 0 10px;
	padding:5px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#8f0d10;
}


#zoomcomentarios-tpl .titulo 
{
    color: #8f0d10;
}

#zoomcomentarios-tpl .actualizar-mensajes a:hover 
{
	color: #8f0d10;
}

#zoomcomentarios-tpl .cautor span
{
    color: #8f0d10;
}

#zoomcomentarios-tpl .listado-mensajes .comentario .cinner .cautor,
#zoomcomentarios-tpl .listado-mensajes .comentario .cinner .corigen 
{
	color: #8f0d10;
}

.button_login 
{
    background: -moz-linear-gradient(center top , #8f0d10 0%, #881513 100%) repeat scroll 0 0 transparent;
}

.button_crear_cuenta
{
    background: -moz-linear-gradient(center top , #8f0d10 0%, #881513 100%) repeat scroll 0 0 transparent;
}

.contrasena
{
	color: #8f0d10;
}

.contrasena a
{
	color: #8f0d10;
}

.noticia_2columnas_contenido .cuerpo_noticia h1 a {
    color: #000000;
}

.noticia_2columnas_contenido .cuerpo_noticia h1 a:hover {
    color: #8f0d10;
}

.noticia_2columnas_contenido .cuerpo_noticia h2 a {
    color: #000000;
}

.noticia_2columnas_contenido .cuerpo_noticia h2 a:hover {
    color: #8f0d10;
}

.noticia_2columnas_contenido h3 a {
    color: #000000;
}

.noticia_2columnas_contenido h3 a:hover {
    color: #8f0d10;
}

.noticia_3columnas_contenido h3 a {
	color: #000000;
}

.noticia_3columnas_contenido h3 a:hover {
	color: #8f0d10;
}

.noticias_relacionadas.portada li a {
	color: #000000;
}

.noticias_relacionadas.portada li a:hover {
	color: #8f0d10;
}

.contenedor_buscar_home_follow .follow {
    float: left;
    margin: 3px 5px 5px 0;
}

.contenedor_buscar_home_follow .buscar-home li input {
    border-radius: 5px;
	width: 160px;
	margin: 0 5px 0 0;
}

.contenedor_buscar_home_follow .follow li.newslettersuscription a
{
	background:url("../../img/icons/newsletter_icon.png") top left no-repeat;
	width:auto;
	height:auto;
	float:left;
	margin:0px;
	cursor:pointer;
}
.contenedor_buscar_home_follow .follow li.newslettersuscription a:hover
{
	background:url("../../img/icons/pc_newsletter_hover_icon.png") top left no-repeat;
}

.contenedor_buscar_home_follow .follow li.twitter a
{
	background:url("../../img/icons/twitter_icon.png") top left no-repeat;
	width:auto;
	height:auto;
	float:left;
	margin:0px;
	cursor:pointer;
}
.contenedor_buscar_home_follow .follow li.twitter a:hover
{
	background:url("../../img/icons/pc_twitter_hover_icon.png") top left no-repeat;
}

.contenedor_buscar_home_follow .follow li.facebook a
{
	background:url("../../img/icons/fb_icon.png") top left no-repeat;
	width:auto;
	height:auto;
	float:left;
	margin:0px;
	cursor:pointer;
}
.contenedor_buscar_home_follow .follow li.facebook a:hover
{
	background:url("../../img/icons/pc_fb_hover_icon.png") top left no-repeat;
}

.contenedor_buscar_home_follow .follow li.linkedin a
{
	background:url("../../img/icons/linkedin_icon.png") top left no-repeat;
	width:auto;
	height:auto;
	float:left;
	margin:0px;
	cursor:pointer;
}
.contenedor_buscar_home_follow .follow li.linkedin a:hover
{
	background:url("../../img/icons/pc_linkedin_hover_icon.png") top left no-repeat;
}

.contenedor_buscar_home_follow .follow li.rss a
{
	background:url("../../img/icons/rss_icon.png") top left no-repeat;
	width:auto;
	height:auto;
	float:left;
	margin:0px;
	cursor:pointer;
}
.contenedor_buscar_home_follow .follow li.rss a:hover
{
	background:url("../../img/icons/pc_rss_hover_icon.png") top left no-repeat;
}

a.rd_btn {
	background:url("../img/300X40_RD.png") top left no-repeat;
	width:300px;
	height:40px;
	float:left;
	margin-left: 90px;
}
a.rd_btn:hover {
	background:url("../img/300X40_RD_hover.png") top left no-repeat;
}

.contenedor_buscar_home_follow .boton_buscar {
    background: url("../../img/icons/lupa_icon.png") top right no-repeat;
    float: left;
    height: 24px;
	width: 24px;
    line-height: default;
    margin: 0;

}
#sidebar_right #noticia_3columnas.columnas3 .modulo_generico_simple.imagen .meta {
    width: 290px;
}
#sidebar_right #noticia_3columnas.columnas3 .modulo_generico_simple.imagen .contenido p a {
    width: 280px;
}
#noticia_3columnas.columnas3 .modulo_generico_simple.imagen .meta {
	background-color: #8f0d10;
	margin: 0 0 3px 0;
	float: left;
	padding: 8px 0 0 10px;
	width: 305px;
	line-height: 1rem;
}
#noticia_3columnas.columnas3 .modulo_generico_simple.imagen .meta .tag {
	padding: 0 10px 0 0;
}
.modulo_generico .titulomodulo {
	background-color: #8f0d10;
	margin: 0 0 3px 0;
	float: left;
	padding: 8px 0 0 10px;
	width: 675px;
	line-height: 1rem;
	font-size: 14px;
}
#noticia_3columnas.columnas3 .modulo_generico_simple.imagen .contenido p a {
	padding: 5px 10px 0;
}
#noticia_3columnas.columnas3 .modulo_generico_simple.imagen .mas {
    margin-top: 4px;
}
#noticia_3columnas.columnas3 .modulo_generico_simple.imagen .mas a:hover {
    color: #8f0d10;
}
.contenido_relacionado ul li a:hover {
    color: #8f0d10;
    font-weight: bold;
}