#header 
{
	display: none;
}

.popup_login 
{
	display: none;
}

#menu_contenido 
{
	display: none;
}

#sidebar_right
{
	display: none;
}

#banner_bottom
{
	display: none;
}

#footer
{
	display: none;
}